.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  padding: 10px;

  & > h1 {
    text-align: center;
    font-size: clamp(24px, 3vw, 32px);
  }

  &__subtitle {
    margin-top: 5px;
    font-size: clamp(18px, 2vw, 24px);
  }

  &__button {
    background-color: #{$spotify-green};
    color: #{$spotify-white};
    border-radius: 40px;
    margin-top: 40px;
    padding: 10px 30px;

    &:hover {
      background-color: darken($spotify-green, 15%);
    }
  }
}
