.t-a {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding: 20px;

  &__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__selectors {
    display: flex;
    width: 200px;
    justify-content: space-between;
    padding-top: 20px;

    &--item {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: calc(100% - 5px);
        margin: auto;
        height: 2px;
        bottom: -4px;
        left: 5px;
        background-color: $spotify-white;
        transform: scaleX(0);
        transition: all 0.25s linear;
        display: block;
      }

      &:hover::after {
        transform: scaleX(1);
        visibility: visible;
      }
    }
  }

  @media (min-width: 770px) {
    justify-content: space-between;
    align-items: flex-start;

    &__titles {
      width: 90%;
      flex-direction: row;
      margin: 0 auto;
      justify-content: space-between;
    }
  }
}
