#logout {
  background-color: #{$spotify-green};
  color: #{$spotify-white};
  border-radius: 40px;
  margin-top: 40px;
  padding: 10px 30px;
  width: 200px;
  font-weight: 700;

  &:hover {
    background-color: darken($spotify-green, 15%);
  }
}
