.nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $black;
  align-items: center;

  &--spotify-logo {
    display: none;
    height: 60px;
    width: 60px;
    @media (min-width: 770px) {
      display: flex;
      position: fixed;
      top: 15px;
    }
  }

  &--github-logo {
    display: none;
    height: 60px;
    width: 60px;
    @media (min-width: 770px) {
      display: block;
      position: fixed;
      bottom: 15px;
    }
  }

  &__middle-icons {
    width: 100%;
    justify-content: space-around;
    display: flex;

    @media (min-width: 770px) {
      position: relative;
    }

    &--link {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &--unit {
      height: 70px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &:hover {
        width: 100%;
        background-color: lighten($black, 5%);
      }

      @media (min-width: 770px) {
        height: 100px;
        align-self: baseline;
        width: calc(100% - 10px);
        position: relative;
      }
    }

    &--icon {
      height: 40px;
      width: 40px;
      color: $spotify-white;
      margin-bottom: 5px;
    }

    @media (min-width: 770px) {
      flex-direction: column;
      align-items: center;
      height: 350px;
      justify-content: space-between;
    }
  }

  @media (min-width: 770px) {
    flex-direction: column;
  }
}

.selected-item {
  background-color: lighten($black, 5%);
  width: 100%;

  &::before {
    content: "";
    display: block;
    height: 5px;
    width: calc(100vw / 3);
    background-color: $spotify-green;
    position: relative;
    top: -2px;
    left: 0;

    @media (min-width: 770px) {
      top: 0px;
      height: 100px;
      width: 5px;
      display: inline-block;
      position: absolute;
    }
  }
}

.github-icon {
  fill: $spotify-white;
  width: 80%;
  height: 80%;
  &:hover {
    fill: darken($spotify-white, 50%);
  }
}

.nav-title {
  color: #{$spotify-white};
}
