.nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $black;
  align-items: center;

  &--spotify-logo {
    display: none;
    height: 60px;
    width: 60px;
    @media (min-width: 770px) {
      display: flex;
      position: fixed;
      top: 15px;
    }
  }

  &__middle-icons {
    width: 100%;
    justify-content: space-around;
    display: flex;

    &--unit {
      height: 70px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media (min-width: 770px) {
        height: 100px;
      }
    }

    &--icon {
      height: 40px;
      width: 40px;
      color: $spotify-white;
    }

    @media (min-width: 770px) {
      flex-direction: column;
      align-items: center;
      height: 350px;
      justify-content: space-between;
    }
  }

  @media (min-width: 770px) {
    flex-direction: column;
  }
}

.selected-item {
  &::after {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: $spotify-green;
    position: absolute;
    top: 0;
    left: 0;
  }
}
