#play-on-spotify {
  background-color: #{$spotify-green};
  color: #{$spotify-white};
  border-radius: 40px;
  margin-top: 40px;
  padding: 10px 30px;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 20px;

  &:hover {
    background-color: darken($spotify-green, 15%);
  }
}
