$fontStack: 'Circular Std, system, -apple-system, BlinkMacSystemFont, sans-serif';

$spotify-green: #1DB954;  
$spotify-white: #fff;
$spotify-black: #191414;
$light-grey: #9b9b9b;

$font-xs: 12px; 
$font-sm: 14px; 
$font-base: 16px; 
$font-md: 20px;
$font-lg: 24px; 
$font-xl: 28px; 
$font-xxl: 32px; 
